* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.text-center{
   margin-top: 20px;
   margin-bottom: 15px;
   font-family: 'Big Shoulders Stencil Display', cursive;
   font-size: 64px;
   color:rgb(221, 177, 120);
   text-shadow: 2px 2px 8px black

}

#lista-publicaciones{
    padding: 30px;
 display: flex;
 flex-direction: column;

}

.card{
    margin-bottom: 15px;
}
.img{
   
    display: block;
}


body{
    background-color: aqua;
}

p, h5{
    font-family: 'Sedgwick Ave Display', cursive;

}

#footer{
    color:rgb(221, 177, 120);
    font-size: 20px;
}
.nav-link, .navbar-brand{
    color:rgb(221, 177, 120);
}